{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<p>{{ welcome_text }}</p>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/time_entries">Fetch & Advance time entries</a></li>
<li><a href="/time_entries?should_update=false">Fetch time entries</a></li>
<li><a href="/current_state">Current State</a></li>
<li><a href="/reset">Reset</a></li>
</ul>
{% endblock %}